<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}</title>
    <style type="text/css">
    /* Client-specific Styles */
    #outlook a {
        padding: 0;
    }

    /* Force Outlook to provide a "view in browser" menu link. */
    body {
        width: 100% !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #5d5157;
        max-width: 1080px;
        margin: 40px auto 0 auto;
    }

    h4 {
        margin: 0;
    }

    .red--text {
        color: #ff3434 !important;
    }

    .purple--text {
        color: #712b62 !important;
    }

    .grey--text {
        color: #b5b7b8 !important;
    }

    .green--text {
        color: #9bc42d !important;
    }

    .red--text {
        color: #d01919 !important;
    }

    .text--bold {
        font-weight: bold !important;
    }

    .text--italic {
        font-style: italic !important;
    }

    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    .ExternalClass {
        width: 100%;
    }

    /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%;
    }

    /* Force Hotmail to display normal line spacing.  */
    #backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
    }

    img {
        outline: none;
        text-decoration: none;
        border: none;
        -ms-interpolation-mode: bicubic;
    }

    a img {
        border: none;
    }

    table td,
    table th {
        background-color: white;
        padding: 8px 16px;
    }

    table {
        border-collapse: separate;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        background-color: #f5f5f5;
    }

    .change-password-button {
        display: inline-block;
        padding: 8px 16px;
        color: white;
        background-color: #d94d15;
        text-decoration: none;
    }

    .my-2 {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
    .mt-2 {
        margin-top: 8px !important;
    }

    .mt-4 {
        margin-top: 24px !important;
    }

    .mt-5 {
        margin-top: 48px !important;
    }
    </style>
</head>
<body>
<p>{{ name }}, vous a contact par l'intermédiaire du site internet !.</p>

<p>Pour saisir votre nouveau mot de passe, veuillez cliquer sur le bouton ci-dessous</p>

<p>Sujet : {{ sujet }}</p>

<p>Message : {{ message }}</p>

<p>Email : {{ email }}</p>

<p>Cordialement,<br />Votre administrateur.</p>

<footer class="mt-4">
    <h4 class="red--text">L'Équipe de St Marceau Orléans Tennis de Table</h4>
    <h4><a href="tel:0248482190" class="red--text">02.38.51.91.60</a></h4>
    <img class="my-2" src="http://stmarceautt.fr/img/logo.png" alt="Logo St Marceau Orléans Tennis de Table" height="75">
    <h4 class="purple--text">8 RUE ALAIN SAVARY,</h4>
    <h4 class="purple--text"> 45100 ORLEANS</h4>
    <h4><a class="red--text" href="http://www.stmarceautt.fr">www.stmarceautt.fr</a></h4>
</footer>
</body>
</html>